h1 {
font-family: Georgia;
font-size: 22px;
font-transform: uppercase;
background-color: blue;
color: tan;
border: 2px solid yellow;
width: 192px;
}

li {
  display: grid;
  font-family: "Courier New";
  background-color: brown;
  color: white;
  width: 492px;
}

p {
  font-family: "Comic Sans MS";
}

img {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-column-gap: 9px;
  grid-row-gap: 20px;
}

video {
  width: 240px;
  top: 9px;
}
