h1 h2 h3 h4 h5 h6 {
align-content: center;}
  
  
h1 {
font-family: Georgia;
font-size: 59px;
font-transform: uppercase;
background-color: navy;
color: tan;
border: 2px solid yellow;
width: 292px;
}

h2 {
font-family: "Comic Sans MS";
font-size: 52px;
font-transform: uppercase;
background-color: green;
color: red;
border: 2px solid brown;
width: 292px;
}

h3 {
font-family: "Helvetica";
font-size: 47px;
font-transform: lowercase;
background-color: purple;
color: yellow;
border: 2px solid white;
width: 292px;
}

h4 {
font-family: "Bodoni 72";
font-size: 47px;
font-transform: uppercase;
background-color: orange;
color: navy;
border: 2px solid white;
width: 292px;
}

h5 {
font-family: "Times New Roman";
font-size: 40px;
font-transform: uppercase;
background-color: aqua;
color: maroon;
border: 2px solid green;
width: 292px;
}

h6 {
font-family: "Georgia";
font-size: 36px;
font-transform: uppercase;
background-color: silver;
color: red;
border: 2px solid red;
width: 292px;
}
